$font-display: ('Bitter', serif);
$font-body: ('Atkinson Hyperlegible', sans-serif);
$font-code: ('Jetbrains Mono', monospace);

// $color-primary: firebrick;
// $color-on-primary: white;
// $color-secondary: orange;

// // $color-primary: green;
// $color-primary: blue;
// $color-on-primary: white;
// $color-secondary: lightgreen;
// $color-on-secondary: black;

// $color-on-secondary: blue;
$color-text-body: #333;
$color-link: blue;
$color-text-header: #333;
$color-highlight: yellow;
$color-blockquote: firebrick;
$color-keyboard-background: lightgray;
$color-keyboard-border: 1px solid gray;
$color-table-even: gray;
$color-table-odd: lightgray;