html {
    font-family: $font-body;
    color: $color-text-body;
    line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-display;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    // color: $color-text-header
}

mark {
    background-color: $color-highlight;
}

p {
    margin-bottom: 0.5rem;
}

blockquote {
    margin-left: 1rem;
    border-left: 0.25rem solid $color-blockquote;
    padding-left: 0.5rem;
}

code,
samp,
kbd {
    font-family: $font-code;
}

pre {
    // white-space: pre-wrap;
    overflow-x: auto;
}

pre {
    border-radius: 3px;
    padding: 1rem;
}