<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{{get_url(path='Logo Prototype 2.svg') | safe }}"
      type="image/svg+xml"
    />
    {% block head %}
    <title>{% block title %}Untitled Page{% endblock title %}</title>
    {#
    <link
      rel="stylesheet"
      href="{{get_url(path='main.css')}}"
      integrity="sha384-{{ get_file_hash(path='main.css', sha_type=384, base64=true) | safe }}"
    />
    #}

    <link rel="stylesheet" href="{{ get_url(path='main.css') }}" />
    {% endblock head %}
  </head>

  <body>
    {% block body %} {% endblock body %}
    {# <br />Built on
    <time datetime="{{ now() | safe }}"
      >{{ now() | date(format="%I:%M:%S %p %B %d, %Y")}}</time
    > #}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>

    <script
      src="{{get_url(path='setTheme.js')}}"
      integrity="sha384-{{ get_file_hash(path='setTheme.js', sha_type=384, base64=true) | safe }}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{get_url(path='toggleNavbar.js')}}"
      integrity="sha384-{{ get_file_hash(path='toggleNavbar.js', sha_type=384, base64=true) | safe }}"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
