<header class="navbar">
  <div class="container">
    <a class="brand" href="{{ get_url(path='/') }}">
      <svg>
        {{ load_data (path='content/Logo Prototype 2.svg') | safe}}
      </svg>
      {# <svg width="30"
      height="30">
      <image xlink:href="{{ get_url(path='Logo Prototype 2.svg') }}" width="30"
      height="30"/>
    </svg> #}
      <h1>Tavi Kohn</h1>
    </a>
    <nav>
      <ul>
        <li>
          <a href="{{ get_url(path='/') }}">Home</a>
        </li>
        <li>
          <a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
