{% extends "default_layout.html" %}

{% block title %}
Personal Projects
{% endblock %}

{% block main %}
{{ section.content | safe}}
<section class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3 g-md-4">
{% for page in section.pages %}
    {# <article>
        {{page.title}}
        <a href="{{ page.permalink | safe }}">Read Here</a>
        {{page.slug}} {{page.date | date(format="%B %d, %Y") }}
    </article> #}
    {%include "partials/project_preview.html" %}
{% endfor %}
{# <pre><code>{{ __tera_context | striptags }}</code></pre> #}
</section>

{% endblock %}